.body {
  background: url('images/americaMoney.jpg') no-repeat left top;
  background-size: contain;
  min-height: 35em;
  margin-top: 5em;
}

.search {
  text-align: center;
  margin-top: 10em;
}

.mute-grey {
  color: #ddd;
}
