<div class='col-lg-10 col-lg-offset-1 contentContainer'>
  <h1>Election Forecast</h1>
  <p>Predictions are based on PollyVote's 'combining forecast' method. More
    information about how their data is collected and how their predictions
    are made can be found <a href="http://pollyvote.com/en/about/">here</a></p>
    <div class='col-md-5 margCont'>
      <ul class='electProf'>
        <li>
          Date Published: <span class='pull-right'>{{ follow.prediction.fcdate | date }}</span>
        </li>
        <li>
          Survey Level: <span class='pull-right'>{{ follow.prediction.state }}</span>
        </li>
        <li>
          Forecast Component: <span class='pull-right'>{{ follow.prediction.fccomponent }}</span>
        </li>
        <li>
          Days until election: <span class='pull-right'>{{ follow.prediction.daystoelection }}</span>
        </li>
        <li>
          Republican Vote: <span class='pull-right' id='repRed'>{{ follow.prediction.fcrepvs }}</span>
        </li>
        <li>
          Democrat Vote: <span class='pull-right' id='demBlue'>{{ follow.prediction.fcdemvs }}</span>
        </li>
        <li>
          Sample Size (If Available): <span class='pull-right'>{{ follow.prediction.sample }}</span>
        </li>
        <li>
          Margin of Error (If Available): <span class='pull-right'>{{ follow.prediction.moe }}</span>
        </li>
      </ul>
    </div>
    <div class='col-md-6 margCont'>
      <div id="chartContainer" style="height: 18em; width: 100%;" ng-init='follow.chartRender()'></div>
    </div>
    <p class="muteGrey pull-left">Source: {{ follow.prediction.sourcedocumentlink }} <a href"ttp://pollyvote.com/en/about/data/">PollyVote</a></p>
  </div>
