.body {
  background: url('../images/americaMoney.jpg') no-repeat left top;
  background-size: contain;
  min-height: 25em;
}

.banner {
  text-align: center;
}

.headshot {
  margin-top: 1%;
  max-width: 10em;
}

.dem {
  min-height: 5em;
  background-color: blue;
  color: white;
  text-align: center;
}

.rep {
  min-height: 5em;
  background-color: red;
  color: white;
  text-align: center;
}

.candProf {
  list-style: none;
  text-align: left;
}

.muteGrey {
  color: #000;
}
