body {
  padding-top: 8em;
  background: url('../images/americanFlagMoney.jpg') no-repeat left top;
}

/*.body {
  background: url('../images/americaMoney.jpg') no-repeat left top;
  background-size: contain;
  min-height: 25em;
}*/

.electionCountdown {
  margin-left: 15em;
  margin-top: 8em;
}

#header {
  font-size: 3em;
}

.clockContainer {
  text-align: center;
  padding: 5%;
}

.headshot {
  margin-top: 3%;
  max-width: 15em;
  border-radius: 8px;
}

.dem {
  min-height: 5em;
  background-color: rgba(0, 0, 255, 0.5);;
  color: white;
  text-align: center;
}

.rep {
  min-height: 5em;
  background-color: rgba(255, 0, 0, 0.5);;
  color: white;
  text-align: center;
}

.candProf {
  list-style: none;
  text-align: left;
}

.muteGrey {
  color: #000;
}

.navbar-nav {
  padding: 1%;
  font-size: 2em;
}

#redHover:hover {
  color: red;
}

#blueHover:hover {
  color: blue;
}

.contentContainer {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
}
